/* CSS reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* custom style */

.stage {
    min-height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.left-panel {
    width: 20vw;
    background-color: rgb(233, 233, 233);

    padding: 2vh 2vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.left-panel > div {
    margin: 7vh 0;
}

.player-scoreboard li {
    margin: 1vh 0;
}




.right-panel {
    width: 80vw;
    /* padding: 5vh 5vw; */
    background: rgb(63, 146, 30);
}

.map-grid {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-image: url("/assets/MAP.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.tile {
    /* 80 - padding / 15 */
    width: 5.333vw;
    height: 5.333vw;
    border: 1px rgba(255, 255, 255, 0.2) dotted;

    color: yellow;
    font-weight: bold;
}

.tile.structrure-exchange.player-adjacent, .tile.structrure-mine.player-adjacent {
    border: 4px rgb(30, 255, 0) dotted;
}
.tile.structrure-exchange.player-adjacent:hover, .tile.structrure-mine.player-adjacent:hover {
    border: 3px rgb(30, 255, 0) solid;
}

.tile > img {
    max-width: 100%;
}

.tile.player-adjacent {
    cursor: pointer;
    background-color: rgba(41, 241, 255, 0.39);
}

.tile.player-adjacent:hover {
    border: 1px orange dashed;
}
